.full-width-table {
  width: 100%;
}

.mat-form-field {
  font-size: 18px;
  width: 100%;
  padding: 24px 24px 0;
  background-color: #fff;
}

.mat-row:hover {
  background: rgba(0,0,0,.1);
}

button {
  margin-right: 10px;
}

.mat-column-action {
  text-align: center !important;
}
