.mat-card-title {
  font-size: 1.6rem !important;
}

.mat-card-subtitle {
  font-size: 1.2rem;
}

.mat-table {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  font-size: 1.1rem !important;
}

.mat-footer-cell {
  font-size: 1.5rem !important;
  font-weight: 500;
}

.mat-row:hover {
  background: rgba(0,0,0,.1);
}

mat-chip {
  font-size: 1.2rem !important;
  padding: 20px !important;
}

.mat-column-name {
  width: 50% !important;
}

.mat-column-price {
  text-align: right;
  width: 25% !important;
}

.mat-column-action {
  text-align: center;
  width: 25% !important;
}

.mat-raised-button {
  margin: 8px !important;
}

span {
  padding: 7px;
}
