.bg-pink {
  background-color: hotpink !important;
}

mwl-calendar-month-cell:hover {
  box-shadow: 10px 10px 10px -3px rgba(0,0,0,.2);
}

mwl-calendar-month-cell.bg-pink:hover {
  opacity: .8;
}

.fill-height {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

span.cal-event-title.ng-star-inserted,
.edit-usr,
.edit-res {
  font-size: 1.4rem;
  padding: 7px;
  color: #cccccc;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.edit-res {
  color: greenyellow;
}

.edit-usr {
  color: aqua;
}

.edit-res:hover {
  color: greenyellow;
  opacity: .7;
}

.edit-usr:hover {
  color: aqua;
  opacity: .7;
}

span.cal-event-title.ng-star-inserted:hover {
  color: white;
  text-decoration: none;
}

/*div.cal-open-day-events.ng-star-inserted {*/
  /*background-color: white;*/
/*}*/
