<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="calendar" routerLinkActive="calendar">Calendar</a>
      <a mat-list-item routerLink="customers" routerLinkActive="customers">Customers</a>
      <a mat-list-item routerLink="add-customer" routerLinkActive="add-customer">Add Customer</a>
      <a mat-list-item routerLink="add-reservation" routerLinkActive="add-customer">Add Reservation</a>
      <a mat-list-item routerLink="cars" routerLinkActive="cars">Cars</a>
      <a mat-list-item routerLink="reservations" routerLinkActive="reservations">Reservations</a>
      <a mat-list-item routerLink="res" routerLinkActive="res">Reservations v2</a>
      <a mat-list-item routerLink="repairs" routerLinkActive="repairs">Repairs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button type="button" aria-label="Toggle sidenav"
        (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Jaś Car CMS</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
