table {
  width: 100%;
}

.mat-form-field {
  font-size: 18px;
  width: 100%;
  padding: 24px 24px 0;
  background-color: #fff;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  /*background: #f5f5f5;*/
  background: rgba(0,0,0,.1);
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.mat-card {
  width: 50%;
  border: 1px solid #cccccc;
  margin: 0 10px 20px;
}

