mat-card {
  max-width: 90%;
  margin: 50px;
}

mat-form-field {
  display: block;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

span {
  padding: 7px;
}

.mat-raised-button {
  margin: 8px !important;
}
