<div *ngIf="customer">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar><mat-icon>person</mat-icon></div>
      <mat-card-title>
        {{customer.name}} {{customer.surname}}
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item routerLink="/customers/{{customer.id}}/cars">Show Cars</button>
          <button mat-menu-item routerLink="/customers/{{customer.id}}/reservations">Show Reservations</button>
          <button mat-menu-item (click)="openDeleteDialog(customer.id, customer.name+' '+customer.surname)">Delete Customer</button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>Email: {{customer.email}}</mat-card-subtitle>
      <mat-card-subtitle>Tel: {{customer.telNumber}}</mat-card-subtitle>
    </mat-card-header><!-- header -->

    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Personal data</mat-panel-title>
            <mat-panel-description>
              Edit customer personal data
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form [formGroup]="customerForm" novalidate (ngSubmit)="customerFormSubmit()">
            <mat-form-field>
              <input matInput type="text" placeholder="First name" formControlName="name">
              <mat-error *ngIf="customerForm.controls['name'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Last name" formControlName="surname">
              <mat-error *ngIf="customerForm.controls['surname'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Telephone number" formControlName="telNumber">
              <mat-error *ngIf="customerForm.controls['telNumber'].hasError('required')">
                Telephone number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Email address" formControlName="email">
              <mat-error *ngIf="customerForm.controls['email'].hasError('required')">
                Email address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-action-row>
              <button mat-raised-button color="primary" type="submit" [disabled]="!customerForm.valid">Submit</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Reservations</mat-panel-title>
            <mat-panel-description>
              Add new reservation
              <mat-icon>build</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form [formGroup]="reservationForm" novalidate (ngSubmit)="reservationFormSubmit()">
            <mat-form-field>
              <input matInput type="text" placeholder="Reservation title" formControlName="title">
              <mat-error *ngIf="reservationForm.controls['title'].hasError('required')">
                Reservation title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Description" formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
              <mat-error *ngIf="reservationForm.controls['description'].hasError('required')">
                Description is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Repair date" formControlName="start">
              <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
              <mat-error *ngIf="reservationForm.controls['start'].hasError('required')">
                Repair date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-action-row>
              <button mat-raised-button color="primary" type="submit" [disabled]="!reservationForm.valid">Submit</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Cars</mat-panel-title>
            <mat-panel-description>
              Add a car
              <mat-icon>drive_eta</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form [formGroup]="addCarForm" novalidate (ngSubmit)="addCarFormSubmit()">
              <mat-form-field>
                <input matInput placeholder="Car brand" formControlName="brand">
                <mat-error *ngIf="addCarForm.controls['brand'].hasError('required')">
                  Car brand is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Registration number" formControlName="regNumber">
                <mat-error *ngIf="addCarForm.controls['regNumber'].hasError('required')">
                  Registration number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="VIN" formControlName="vin">
                <mat-error *ngIf="addCarForm.controls['vin'].hasError('required')">
                  VIN is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            <mat-action-row>
              <button mat-raised-button color="primary" type="submit" [disabled]="!addCarForm.valid">Submit</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content><!-- content -->

    <mat-card-actions>
      <button mat-button (click)="goBack()">
        <mat-icon class="action-icon">backspace</mat-icon> Go Back</button>
      <button mat-button routerLink="/customers/{{customer.id}}/cars">
        <mat-icon class="action-icon">drive_eta</mat-icon> Cars
      </button>
      <button mat-button routerLink="/customers/{{customer.id}}/reservations">
        <mat-icon class="action-icon">event_note</mat-icon> Reservations</button>
    </mat-card-actions><!-- actions -->
  </mat-card>
</div>

